<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamProject">
        <activity android:name=".CeoReviewActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ReviewActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyHeQy_lJBW0KKxy51QHxx2hF39PCORbk" />

        <activity android:name=".SearchMapActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HotelListActivity" />
        <activity android:name=".HotelGuestActivity" />
        <activity android:name=".RoomDetailsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MotelActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".CheckinOutActivity" />
        <activity android:name=".SplashActivity" />
    </application>

</manifest>